{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="card-deck">
        {% for listing in listings  %}
            <div class="card">
                {% if listing.4 %}
                    <img class="card-img-top" src="{{ listing.4 }}" width="200px" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'listing' listing.0 %}">{{ listing.1 }}</a>
                    </h5>
                </div>
                
                <p class="card-text">{{ listing.3 }}</p>

                <p class="card-text">{{ listing.2 }}</p>
                
            </div>
        {% empty %}
            No active listings.
        {% endfor %}
    </div>

        
        
            
{% endblock %}