__MACOSX/Project-1/._.DS_Store
__MACOSX/Project-1/._wiki
__MACOSX/Project-1/wiki/._.DS_Store
__MACOSX/Project-1/wiki/._encyclopedia
__MACOSX/Project-1/wiki/._entries
__MACOSX/Project-1/wiki/._manage.py
__MACOSX/Project-1/wiki/._wiki
__MACOSX/Project-1/wiki/encyclopedia/.___init__.py
__MACOSX/Project-1/wiki/encyclopedia/._admin.py
__MACOSX/Project-1/wiki/encyclopedia/._apps.py
__MACOSX/Project-1/wiki/encyclopedia/._migrations
__MACOSX/Project-1/wiki/encyclopedia/._models.py
__MACOSX/Project-1/wiki/encyclopedia/._static
__MACOSX/Project-1/wiki/encyclopedia/._templates
__MACOSX/Project-1/wiki/encyclopedia/._tests.py
__MACOSX/Project-1/wiki/encyclopedia/._urls.py
__MACOSX/Project-1/wiki/encyclopedia/._util.py
__MACOSX/Project-1/wiki/encyclopedia/._views.py
__MACOSX/Project-1/wiki/encyclopedia/migrations/.___init__.py
__MACOSX/Project-1/wiki/encyclopedia/static/._encyclopedia
__MACOSX/Project-1/wiki/encyclopedia/static/encyclopedia/._styles.css
__MACOSX/Project-1/wiki/encyclopedia/templates/._encyclopedia
__MACOSX/Project-1/wiki/encyclopedia/templates/encyclopedia/._index.html
__MACOSX/Project-1/wiki/encyclopedia/templates/encyclopedia/._layout.html
__MACOSX/Project-1/wiki/entries/._Django.md
__MACOSX/Project-1/wiki/entries/._Git.md
__MACOSX/Project-1/wiki/entries/._HTML.md
__MACOSX/Project-1/wiki/entries/._Python.md
__MACOSX/Project-1/wiki/wiki/.___init__.py
__MACOSX/Project-1/wiki/wiki/._.DS_Store
__MACOSX/Project-1/wiki/wiki/._asgi.py
__MACOSX/Project-1/wiki/wiki/._settings.py
__MACOSX/Project-1/wiki/wiki/._urls.py
__MACOSX/Project-1/wiki/wiki/._wsgi.py
Project-0/css/style.css.map
Project-1/wiki/db.sqlite3
Project-1/wiki/encyclopedia/__pycache__/__init__.cpython-37.pyc
Project-1/wiki/encyclopedia/__pycache__/admin.cpython-37.pyc
Project-1/wiki/encyclopedia/__pycache__/models.cpython-37.pyc
Project-1/wiki/encyclopedia/__pycache__/urls.cpython-37.pyc
Project-1/wiki/encyclopedia/__pycache__/util.cpython-37.pyc
Project-1/wiki/encyclopedia/__pycache__/views.cpython-37.pyc
Project-1/wiki/encyclopedia/__pycache__/wiki_entry.cpython-37.pyc
Project-1/wiki/encyclopedia/migrations/__pycache__/__init__.cpython-37.pyc
Project-1/wiki/wiki/__pycache__/__init__.cpython-37.pyc
Project-1/wiki/wiki/__pycache__/settings.cpython-37.pyc
Project-1/wiki/wiki/__pycache__/urls.cpython-37.pyc
Project-1/wiki/wiki/__pycache__/wsgi.cpython-37.pyc
Project-2.zip
Project-3.zip
lec-6.zip
lecture-2/
lecture6/
lecture7/
*__pycache__*